body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fff;
}

header {
    background-color:#fff;
    color: #031932;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-family: cursive;
    font-size: 500% ;
    text-align: center;
    margin: auto;
    padding: auto;
    word-spacing: 50% ;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: rgb(38, 34, 34);
    text-justify: newspaper;
}
.logo-left img,
.logo-right img{
    max-height: 700px;
    border-image-width: auto;
}

.navigation {
    text-align: center; /* Centrer les éléments horizontalement */
}

.navigation nav {
    background-color: #c6cace;
    font-size: 200%;
}

.navigation nav ul {
    list-style-type: none;
    padding: 1%;
    margin: 1%;
    display: inline; /* Pour centrer les éléments de la liste horizontalement */
}

.navigation nav ul li {
    display: inline-flex;
    margin-right: 100px;
}

.navigation nav ul li a {
    color: #0e233c;
    text-decoration: none;
    transition: color 0.8s;
}

.navigation nav ul li a:hover {
    color: hsl(58, 100%, 52%);
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(51, 51, 51, 0.9); /* Fond semi-transparent */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
}


section {
    padding: 40px;
}
section h2{
    text-align: center;
    text-overflow: clip;
    font-size: 200%;

}
.car-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.car {
    flex:0 0 calc(33.33% - 20px);
    margin-bottom: 40px;
}

.car img {
    max-width: 60%;
    height: auto;
}

footer {
    background-color: #e50645;
    color: #fff;
    text-align: center;
    padding: 30px;
    margin-bottom:auto;
}
#about{
    font-size: 180%;
    background-color: rgb(250, 250, 250);

}
