body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#fff;
}

header {
    background-color:#fff;
    color: #031932;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
header h1 {
    font-family: cursive;
    font-size: 500% ;
    text-align: center;
    margin: auto;
    padding: auto;
    word-spacing: 50% ;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: rgb(38, 34, 34);
    text-justify: newspaper;
}

.logo-left,
.logo-right {
    flex: 0 0 auto;
}

.logo-left img,
.logo-right img{
    max-height: 700px;
    border-image-width: auto;
}

/* Ajoutez ces styles CSS pour l'animation de la flèche vers le bas */
.scroll-down {
    position: absolute;
    bottom: 20px; /* Ajustez la position verticale selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite; /* Applique une animation de rebondissement */
}

.scroll-down img {
    width: 150px; /* Ajustez la taille de l'icône selon vos besoins */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px); /* Déplace la flèche vers le haut */
    }
    60% {
        transform: translateY(-5px); /* Déplace la flèche vers le bas */
    }
}


.navigation {
    text-align: center; /* Centrer les éléments horizontalement */
    background-color: #c6cace;
    font-size: 200%;
}

.navigation nav {
    background-color: #c6cace;
    font-size: 200%;
}

.navigation nav ul {
    list-style-type: none;
    padding: 1%;
    margin: 1%;
    display: inline; /* Pour centrer les éléments de la liste horizontalement */
}

.navigation nav ul li {
    display: inline-flex;
    margin-right: 100px;
}

.navigation nav ul li a {
    color: #0f0f0f;
    text-decoration: none;
    transition: color 0.8s;
}

.navigation nav ul li a:hover {
    color: hsl(329, 98%, 47%);
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(51, 51, 51, 0.9); /* Fond semi-transparent */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
}


section {
    padding: 10px;
    
}
section h2{
    text-align: center;
    font-size: 150%;
    font-weight: lighter;

}
.car-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Colonnes dynamiques avec largeur minimale de 300px */
    gap: 20px; /* Espacement entre les voitures */
    padding: 20px;
}

.car {
    flex:0 0 calc(33.33% - 20px);
    margin-bottom: 40px;
}

.car img {
    max-width: 80%;
    height: 50%;
}

/* CSS pour le footer */
.footer-content {
    background-color: rgb(255, 255, 255);
    color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-section h3 {
    margin-bottom: 25px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #000000;
    text-decoration: none;
}

.footer-social-media a img {
    width: 35px;
    height: 35px;
    margin-right: 25px;
}
/* Mise en page du footer avec Flexbox */
footer {
    background-color: #e50645;
    color: #fff;
    text-align: center;
    padding: 30px;
}
footer p{
    text-align: center;
    margin: 0;
}

#contact{
    background-color: #f6f6f678;
}

#about{
    font-size: 180%;
    background-color: #fff;

}
